# Git
.git
.gitignore

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# Documentation
docs/
README.md
LICENSE

# Docker compose file
docker-compose.yml
docker-compose.*.yml

# Others
.DS_Store
